<div id="burger-img"><img src="../assets/images/hamburger-3184108_640.png" id="burger-image">
</div>
<h1>Eat-Da-Burger!</h1>
<br>

<div id="grid-container">
    <div id="left-content">
        <h3 class="column-header">Burgers to eat!</h3>
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <div id="uneaten-burger-div">
                <div id="uneaten-burger-list">
                    <li>
                        {{id}}. {{burger_name}}
                    </li>
                </div>
                <button class="burger-delete-button" data-id="{{this.id}}">Devour It!</button>
            </div>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div id="right-content">
        <h3 class="column-header">Burgers that have been eaten.</h3>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            <div id="eaten-burger-list">
                <li>
                    {{id}}. {{burger_name}}
                </li>
            </div>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
<br>
<form class="create-form">
    <div class="text-center">
        <div class="form-group">
            <div id="burger-div">
                <input type="text" class="form-control" id="new-burger" required>
            </div>
            <br>
            <button class="btn btn-primary" id="burger-button" type="submit">Submit</button>
        </div>
    </div>
</form>

<br>
<h3>Enter a burger you want to eat and click the "Submit" button.</h3>